.container {
    background: var(--second-dark-color);
    width: 100wh;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.input {
    background: transparent;
    color: var(--second-text-color);
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
}

.input::placeholder{
    color: var(--second-text-color);
}

@media (min-width: 660px) {
    .container {
        background: var(--second-dark-color);
        width: 583px;
        height: 52px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }
}